*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items:center ;
}

body{
    background-color: grey;
    
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: black;
}



.btn-primary{
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-sizing: border-box;

  width: fit-content;
  height: 44px;

  padding: 12px 16px;
  border-radius: 4px;
  
  text-align: left;
  background-color: #469165;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.btn-primary:hover {
    background-color: #55af7b;
    color: white;
    
    transition: color 0.2s ease;
}
  
.btn-secondary{
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-sizing: border-box;

  width: fit-content;
  height: 44px;

  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid white;
  
  
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
