

body{
    background-color: grey;
    
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
}

.btn-primary{
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;

  color: white;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  
}