*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items:center ;
}

body{
    background-color: grey;
    
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: black;
}



.btn-primary{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;

  width: fit-content;
  height: 52px;

  padding: 12px 16px;
  border-radius: 4px;
  
  background-color: #469165;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

/* .btn-primary:hover {
    background-color: white;
    color: #469165;
    border: 1px solid #469165;
    transition: color 0.2s ease;
} */

.btn-secondary{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;

  width: fit-content;
  height: 52px;

  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid white;
  
  
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
