hero{
    position: relative;
    width: 100%;
    min-height: 520px;     
    align-items: center;
}

.hero-image{
    width: 100%;
    height: 100%;
}

.hero-overlay {
    position: absolute; 
    top: 0;
    width: 100%;
    min-height: 520px;
    
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 32px;
    align-items: center;
    position: relative;
    max-width: auto;
    padding: 70px  120px;
    margin: 0 auto;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 16px;
}

.hero-badge {
    display: flex;
    flex-direction: row;

    
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: white;
    

    width: fit-content;
    height: fit-content;

    color: #469165;
    font-weight: 500;
}

.hero-title {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    gap: 16px;
    
    width: fit-content;
    height: fit-content;    
    color: white;
}

/* .hero-text{
    align-items: center;
    gap: 16px;
} */

.highlight {
    align-items: center;
    color: #469165;
}

.hero-description{
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    font-weight:300;

    width:max-content;
    height: fit-content;
}

.hero-actions{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}
