*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To include padding and border in element's total width and height */
}
header{
    background-color: white;
    padding: 16px 120px;
}
nav {     
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    margin: auto; 
}
nav a{
    text-decoration: none;
    color : rgba(0, 0, 0, 0.9);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 32px;

    font-weight: medium;
    /* add text hover effect */
}

.nav-link:hover {
    color: #469165;
    transition: color 0.2s ease;
}



